
body {
  /* Padding below the footer and lighter body text */
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
  --main-color: #5a5a5a;
  --authors-color: #754487;
  --codereview-color: #b74803;
  --classics-color:  rgb(67, 139, 172);
  --fasttrack-color: rgb(49, 150, 35);
  --tentative-background: repeating-linear-gradient(
    -45deg,
    #fff,
    rgb(235, 235, 235) 10px,
    #fff 10px,
    #eee 20px
  );
}

h2.inline, h3.inline, h4.inline,h5.inline {
  display: inline-block;
}

#events .event-link {
  color: #5a5a5a;
  text-decoration: underline;
  font-weight: bold;
}

.legend {
  width: 1em;
  height: 1em;
  display: inline-block;
  line-height: 1em;
}

.legend.main {
  background-color: var(--main-color);
}

.legend.classics {
  background-color: var(--classics-color);
}

.legend.fasttrack {
  background-color: var(--fasttrack-color);
}

.legend.codereview {
  background-color: var(--codereview-color);
}

.legend.authors {
  background-color: var(--authors-color);
}

.legend.tentative {
  background: var(--tentative-background);
}


.legend-event-main{
  color: var(--main-color);
}

.legend-event-classics{
  color: var(--classics-color);
}

.legend-event-fasttrack{
  color: var(--fasttrack-color);
}

.legend-event-codereview{
  color: var(--codereview-color);
}

.legend-event-authors{
  color: var(--authors-color);
}

.legend-event-tentative{
  background: var(--tentative-background);
}


.upcoming-event-list>.tentative {
  background: var(--tentative-background);
}

.upcoming-event-list .title {
  font-weight: bold;
  font-style: italic;
}

.upcoming-event-list .event-main, .upcoming-event-list .event-main a {
  color:  var(--main-color);
}

.upcoming-event-list .event-classics, .upcoming-event-list .event-classics a {
  color:  var(--classics-color);
}

.upcoming-event-list .event-fasttrack, .upcoming-event-list .event-fasttrack a {
  color:  var(--fasttrack-color);
}

.upcoming-event-list .event-codereview, .upcoming-event-list .event-codereview a {
  color:  var(--codereview-color);
}

.upcoming-event-list .event-authors, .upcoming-event-list .event-authors a {
  color:  var(--authors-color);
}

#past-event-list .event-main, #past-event-list .event-main a {
  color:  var(--main-color);
}


.past-event-list>.tentative {
  background: var(--tentative-background);
}

.past-event-list .title {
  font-weight: bold;
}

.tdls-intro {
  max-width: 850px;
  color: #000;
}

.tdls-intro .title {
  font-family: serif;
  font-size: 2em;
  font-weight: bold;
  margin-top: 30px;
  padding-top: 30px;
  border-top-style: solid;
  border-top-width: 7px;
  padding-bottom: 30px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  text-align: center;
}

.tdls-intro .abstract, .tdls-intro .authors {
  max-width: 600px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.tdls-intro .abstract {
  text-align: center;
}

.tdls-intro .abstract h5 {
  text-align: center;
}

.tdls-intro a {
  text-decoration: underline;
  color: #000;
}

.past-event-list .event-fasttrack .title {
  color:  var(--fasttrack-color);
}

.past-event-list .event-classics .title {
  color:  var(--classics-color);
}


.past-event-list .event-fasttrack .title {
  color:  var(--fasttrack-color);
}

.past-event-list .event-codereview .title {
  color:  var(--codereview-color);
}

.past-event-list .event-authors .title {
  color:  var(--authors-color);
}

#past-event-list .title {
  font-style: italic;
}

.modal-dialog .modal-header {
  text-align: center;
}

.modal-dialog .modal-header .title {
  line-height: 1.4em;
  /* font-style: italic; */
  font-family: serif;
  font-size: 2em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.modal-dialog .modal-header .title button {
  font-family: sans-serif;
}
.modal-dialog.event-main .modal-header .title {
  color:  var(--main-color);
}

.modal-dialog.event-classics .modal-header .title {
  color:  var(--classics-color);
}

.modal-dialog.event-fasttrack .modal-header .title {
  color:  var(--fasttrack-color);
}

.filter-tools {
  text-align: left;
  font-size: 1.2em;
}

#past-event-list .youtube-thumb-outer {
  width: 100%;
}

.modal .youtube-thumb-outer {
  max-width: 120px;
}

.youtube-thumb-outer {
  height: auto;
  position: relative;
}

.youtube-thumb-outer img {
  width: 100%;
  height: auto;
}

.youtube-thumb-outer .overlay { 
  display: block;
  position: absolute;
  background-position: center; 
  background-size: 60% 60%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-image: url('images/youtube_play.png');
  top: 0;
  left: 0
}
/* 
#past-event-list .youtube-thumb::after {
  position: absolute;
  top: 0;
  left: 0;
} */

#past-event-list .toolbar {
  margin-top: 10px;
}

#past-event-list_length {
  display: inline-block;
}

#past-event-list_filter {
  margin-right: 1em;
}

#subject-filter-area {
  min-width: 200px;
}

#subject-filter-area, #stream-filter-area {
  margin-right: 2em;
}

#subject-filter-area, #past-event-list_filter, #stream-filter-area {
  display: inline-block;
}

#subject-filter-area .horizontal-elem, #stream-filter-area .horizontal-elem {
  display: inline-block;
}

#stream-filter-area .dropdown {
  width: 120px;
}

#subject-filter-area select {
  display: inline-block;
}

#get-engaged .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}

#get-engaged .row > [class*='col-'] {
  display: flex;
}

#events h3 {
  margin-top: 30px;
  margin-bottom: 20px;
}

.carousel-caption {
  opacity: 0.7;
  background-color: #000 !important;
}

.person-name .fa-linkedin-square {
  color: #007bff;
  vertical-align: super;
  font-size: 0.9em;

}

a.person-name, a.venue-name {
  color: #5a5a5a;
}

main section {
  margin-top: 60px;
}

main section>h2 {
  margin-bottom: 30px;
}

img.profile {
  width: 100px;
  margin: 10px;
}


@media (max-width: 576px) {
  .community-charts .chart {
    border-top: #888 dashed 1px;
  }  
  .community-charts .chart:first-child {
    border-top: none;
  }
}

div.committee {
  align-items: center;
}

div.committee {
  margin-top: 10px;
  margin-bottom: 10px;
}

.legend-list li {
  padding-right: 0.8em;
  border-right: #000 solid 1px;
  line-height: 1em;
}

.legend-list li:last-child{
  border-right: none;
}

.legend-list li .fa {
  vertical-align: super;
  font-size: 0.8em;
}

.profile-list {
  text-align: center;
}

.profile-list a {
  color: #5a5a5a;
}

.profile-list .fa-linkedin-square {
  color: #007bff;
}

footer {
  text-align: center;
  color: #fff;
  line-height: 1.1em;
}

footer .floater {
  opacity: 0.7; 
  background: #000;
  padding-top: 2px;
  padding-bottom: 2px;
  /* margin-top:10px; */
}

footer .social-buttons {
  display: inline;
}

section h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 576px) { 
  footer .copyright, footer .back-to-top {
    display: none;
  }
  footer {
    font-size: 0.7em;
  }
}

@media (max-width: 800px) {
  .title {
    font-size: 1.2em; 
  }
  .past-event-list .toolbar .fa {
    font-size: 1.7em;
    letter-spacing: 0.2em;
  }

  .past-event-list .toolbar {
    text-align: left;
  }
}
