
body {
  /* Padding below the footer and lighter body text */
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
  --classics-color:  rgb(67, 139, 172);
  --regular-color: #000000;
  --fasttrack-color: rgb(49, 150, 35);
  --tentative-background: repeating-linear-gradient(
    -45deg,
    #fff,
    rgb(235, 235, 235) 10px,
    #fff 10px,
    #eee 20px
  );
}

.legend {
  width: 1em;
  height: 1em;
  display: inline-block;
  line-height: 1em;
}

.legend.regular {
  background-color: var(--regular-color);
}

.legend.classics {
  background-color: var(--classics-color);
}

.legend.fasttrack {
  background-color: var(--fasttrack-color);
}

.legend.tentative {
  background: var(--tentative-background);
}

.upcoming-event-list>.tentative {
  background: var(--tentative-background);
}

.upcoming-event-list .title {
  font-weight: bold;
}

.upcoming-event-list .event-classics .title {
  color:  var(--classics-color);
}


.upcoming-event-list .event-fasttrack .title {
  color:  var(--fasttrack-color);
}


#events h3 {
  margin-top: 30px;
  margin-bottom: 20px;
}

main section {
  padding-top: 60px;
}

main section>h2 {
  margin-bottom: 30px;
}

img.profile {
  width: 100px;
  margin: 10px;
}

div.committee {
  align-items: center;
}

div.committee {
  margin-top: 10px;
  margin-bottom: 10px;
}

