#mc_embed_signup {
  background: #fff;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
}

/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */

#main-navbar .nav-item a {
  color: white;
  font-weight: 500;
  letter-spacing: 0.07em;
}

#main-navbar .dropdown-menu a {
  color: black;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 1em;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  /* Padding below the footer and lighter body text */
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
  --main-color: #5a5a5a;
  --authors-color: #754487;
  --codereview-color: #b74803;
  --classics-color:  rgb(67, 139, 172);
  --fasttrack-color: rgb(49, 150, 35);
  --tentative-background: repeating-linear-gradient(
    -45deg,
    #fff,
    rgb(235, 235, 235) 10px,
    #fff 10px,
    #eee 20px
  );
  position: relative;
}

h2.inline, h3.inline, h4.inline,h5.inline {
  display: inline-block;
}

#welcome {
  padding-left: 0;
  padding-right: 0;
  margin-top: 10px;
  position: relative;
}

#welcome .carousel-caption {
  bottom: 10%;
}

#welcome .carousel-indicators {
  bottom: 8%;
}

a.scroll-button {
  padding-top: 60px;
}

a.scroll-button span {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

#welcome .scroll-button {
  position: absolute;
  bottom: 0;
  z-index: 9999;
  left: 50%;
  transform: translateX(-50%);
}

#welcome .carousel-caption {
  font-style: italic;
  letter-spacing: 0.12em;
  border-radius: 10px;
}

.tdls-intro {
  padding-top: 40px;
  left: 0px;
  right: 0px;
  z-index: 200;
  background: white;
  color: black;
  max-width: 850px;
  opacity: 0.8;
}


#events .event-link {
  color: #5a5a5a;
  text-decoration: underline;
  font-weight: bold;
}

.legend {
  width: 1em;
  height: 1em;
  display: inline-block;
  line-height: 1em;
}

.legend.main {
  background-color: var(--main-color);
}

.legend.classics {
  background-color: var(--classics-color);
}

.legend.fasttrack {
  background-color: var(--fasttrack-color);
}

.legend.codereview {
  background-color: var(--codereview-color);
}

.legend.authors {
  background-color: var(--authors-color);
}

.legend.tentative {
  background: var(--tentative-background);
}


.legend-event-main{
  color: var(--main-color);
}

.legend-event-classics{
  color: var(--classics-color);
}

.legend-event-fasttrack{
  color: var(--fasttrack-color);
}

.legend-event-codereview{
  color: var(--codereview-color);
}

.legend-event-authors{
  color: var(--authors-color);
}

.legend-event-tentative{
  background: var(--tentative-background);
}

.person-name .fa-linkedin-square {
  color: #007bff;
  vertical-align: super;
  font-size: 0.9em;
}

.upcoming-event-list>.tentative {
  background: var(--tentative-background);
}

.upcoming-event-list .title {
  font-weight: bold;
  font-style: italic;
}

.upcoming-event-list .event-main, .upcoming-event-list .event-main a {
  color:  var(--main-color);
}

.upcoming-event-list .event-classics, .upcoming-event-list .event-classics a {
  color:  var(--classics-color);
}

.upcoming-event-list .event-fasttrack, .upcoming-event-list .event-fasttrack a {
  color:  var(--fasttrack-color);
}

.upcoming-event-list .event-codereview, .upcoming-event-list .event-codereview a {
  color:  var(--codereview-color);
}

.upcoming-event-list .event-authors, .upcoming-event-list .event-authors a {
  color:  var(--authors-color);
}

.past-event-list .event-main, .past-event-list .event-main a {
  color:  var(--main-color);
}

.past-event-list .card {
  margin: 1%;
}

.past-event-list>.tentative {
  background: var(--tentative-background);
}

.past-event-list .title {
  font-weight: bold;
}


.tdls-intro .title {
  font-family: serif;
  font-size: 2em;
  font-weight: bold;
  margin-top: 30px;
  padding-top: 30px;
  border-top-style: solid;
  border-top-width: 7px;
  padding-bottom: 30px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  text-align: center;
}

.tdls-intro .abstract, .tdls-intro .authors {
  max-width: 650px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.tdls-intro .abstract {
  text-align: center;
}

.tdls-intro .abstract h5 {
  text-align: center;
}

.tdls-intro a {
  margin-top: 3em;
  background-color: #333;
  color: #fff;
  /* text-decoration: underline; */
  /* color: #000; */
}

.tdls-intro a:hover {
  color: #ccc;
}


.slick-next:before, .slick-prev:before {
  color: black;
}

.past-event-list .event-fasttrack, .past-event-list .event-fasttrack a {
  color:  var(--fasttrack-color);
}

.past-event-list .event-classics, .past-event-list .event-classics a {
  color:  var(--classics-color);
}

.past-event-list .event-fasttrack, .past-event-list .event-fasttrack a {
  color:  var(--fasttrack-color);
}

.past-event-list .event-main, .past-event-list .event-main a {
  color:  var(--main-color);
}

.past-event-list .event-codereview, .past-event-list .event-codereview a {
  color:  var(--codereview-color);
}

.past-event-list .event-authors, .past-event-list .event-authors a {
  color:  var(--authors-color);
}

.past-event-list .title {
  font-style: italic;
  font-size: 1.2em;
}

.modal-dialog .modal-header {
  text-align: center;
}

.modal-dialog .modal-header .title {
  line-height: 1.4em;
  /* font-style: italic; */
  font-family: serif;
  font-size: 2em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.modal-dialog .modal-header .title button {
  font-family: sans-serif;
}
.modal-dialog.event-main .modal-header .title {
  color:  var(--main-color);
}

.modal-dialog.event-classics .modal-header .title {
  color:  var(--classics-color);
}

.modal-dialog.event-fasttrack .modal-header .title {
  color:  var(--fasttrack-color);
}

.filter-tools {
  text-align: left;
  font-size: 1.2em;
}

#past-event-list .youtube-thumb-outer {
  width: 100%;
}

.modal .youtube-thumb-outer {
  max-width: 120px;
}

.youtube-thumb-outer {
  height: auto;
  position: relative;
}

.youtube-thumb-outer img {
  width: 100%;
  height: auto;
}

.youtube-thumb-outer .overlay { 
  display: block;
  position: absolute;
  background-position: center; 
  background-size: 20% 20%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-image: url('images/youtube_play.png');
  top: 0;
  left: 0
}
/* 
#past-event-list .youtube-thumb::after {
  position: absolute;
  top: 0;
  left: 0;
} */

.past-event-list .toolbar {
  text-align: right;
}

.past-event-list .toolbar a {
  margin-right: 10px;
}

#past-event-list_length {
  display: inline-block;
}

#past-event-list_filter {
  margin-right: 1em;
}

#subject-filter-area {
  min-width: 200px;
}

.dropdown.active {
  border: 4px solid yellow;
}

#subject-filter-area, #stream-filter-area {
  margin-right: 2em;
}

#subject-filter-area, #past-event-list_filter, #stream-filter-area {
  display: inline-block;
}

#subject-filter-area .horizontal-elem, #stream-filter-area .horizontal-elem {
  display: inline-block;
}

#stream-filter-area .dropdown {
  width: 120px;
}

#subject-filter-area select {
  display: inline-block;
}

#get-engaged .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

#get-engaged .row > [class*='col-'] {
  display: flex;
}

#sma-links a {
  color: var(--main-color);
}

#get-engaged h4 {
  font-style: italic;
  margin-bottom: 1em;
  margin-top: 1em;
}

#events h3 {
  margin-top: 30px;
  margin-bottom: 20px;
}

.past-event-list .event .date {
  text-align: right;
  margin-top: 1em;
}

.carousel-caption {
  opacity: 0.7;
  background-color: #000 !important;
}

a.person-name, a.venue-name {
  color: #5a5a5a;
}

main section {
  margin-top: 60px;
}

main section>h2 {
  margin-bottom: 30px;
}

img.profile {
  width: 100px;
  margin: 10px;
}


@media (max-width: 576px) {
  .community-charts .chart {
    border-top: #888 dashed 1px;
  }  
  .community-charts .chart:first-child {
    border-top: none;
  }
}

div.committee {
  align-items: center;
}

div.committee {
  margin-top: 10px;
  margin-bottom: 10px;
}

.legend-list li {
  padding-right: 0.8em;
  border-right: #000 solid 1px;
  line-height: 1em;
}

.legend-list li:last-child{
  border-right: none;
}

.legend-list li .fa {
  vertical-align: super;
  font-size: 0.8em;
}

.profile-list {
  text-align: center;
}

.profile-list a {
  color: #5a5a5a;
}

.profile-list .fa-linkedin-square {
  color: #007bff;
}

footer {
  text-align: center;
  color: #fff;
  line-height: 1.1em;
}

footer .floater {
  opacity: 0.7; 
  background: #000;
  padding-top: 2px;
  padding-bottom: 2px;
  /* margin-top:10px; */
}

footer .social-buttons {
  display: inline;
}

section h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

#useful-links > ul {
  list-style-type: none;
}

@media (max-width: 576px) { 
  footer .copyright, footer .back-to-top {
    display: none;
  }
  footer {
    font-size: 0.7em;
  }
}

@media (max-width: 800px) {
  .title {
    font-size: 1.2em; 
  }
  .past-event-list .toolbar .fa {
    font-size: 1.7em;
    letter-spacing: 0.2em;
  }

  .past-event-list .toolbar {
    text-align: left;
  }
}
